client_secret*.json
secret*.json
token.json

__pycache__

*.egg-info

data.db
src/.scannerwork/.sonar_lock
src/.scannerwork/report-task.txt
*.db
build/lib/breath_main/user/registrar.py
build/lib/breath_main/user/oauth.py
build/lib/breath_main/user/db.py
build/lib/breath_main/user/__init__.py
build/lib/breath_main/ui.py
build/lib/breath_main/session_manager/session_manager.py
build/lib/breath_main/session_manager/service_constructor.py
build/lib/breath_main/session_manager/request_manager/validation_handler.py
build/lib/breath_main/session_manager/request_manager/response_handler.py
build/lib/breath_main/session_manager/request_manager/request_handler.py
build/lib/breath_main/session_manager/request_manager/permission_handler.py
build/lib/breath_main/session_manager/request_manager/manager.py
build/lib/breath_main/session_manager/request_manager/incoming_handler.py
build/lib/breath_main/session_manager/request_manager/execution_handler.py
build/lib/breath_main/session_manager/request_manager/availability_handler.py
build/lib/breath_main/session_manager/request_manager/__init__.py
build/lib/breath_main/session_manager/login_manager/user_level.py
build/lib/breath_main/session_manager/login_manager/__init__.py
build/lib/breath_main/session_manager/__init__.py
build/lib/breath_main/login.py
build/lib/breath_main/home.py
build/lib/breath_main/console_application/console_application.py
build/lib/breath_main/console_application/climate_request.py
build/lib/breath_main/console_application/__init__.py
build/lib/breath_main/breath_patient_portal/symptoms_checkboxes.py
build/lib/breath_main/breath_patient_portal/register_symptoms.py
build/lib/breath_main/breath_patient_portal/__init__.py
build/lib/breath_main/app.py
build/lib/breath_main/__main__.py
build/lib/breath_main/__init__.py
build/*
